<div class="candidate-info__image">
  <img src="/assets/images/candidates/{{candidate.firstName}}-{{candidate.surname}}.jpg" alt={{concat candidate.firstName candidate.surname}}>
</div>

<div class="candidate-info__name">{{candidate.firstName}} {{candidate.surname}} {{party-name candidate.party 'symbol'}}</div>

<a href={{candidate.website}} class="candidate-info__website">Candidate's Website</a>

{{#if incumbent}}
  <div class="candidate-info__is-incumbent">incumbent</div>
{{/if}}
