<select class="ballot-switcher__field" onchange={{action changeHandler}}>
{{#each options as |option|}}
  <option value={{option.id}} selected={{eq chosen option.id}}>
  {{option.raceTitle}} {{option.id}}
  </option>
{{/each}}
</select>
