<div class="ballot-form__input">
  <h3 class="ballot-form__sub">Enter your address below</h3>
  {{input value=address class="ballot-form__field" action=(action (perform addressToBallot address))}}

  {{#if (and error (not-eq error.type 'MULTIPLE_LOCATIONS'))}}
  <div class="ballot-form__error">
    {{error.message}}
  </div>
  {{/if}}
</div>

<div class="ballot-form__parties">
  <h3 class="ballot-form__sub">Choose your party:</h3>

  {{#ballot-parties onClick=(action (mut party)) as |parties|}}
  <ul>
    <li>
      {{parties.button 'dem'}}
    </li>
    <li>
      {{parties.button 'rep'}}
    </li>
    <li>
      {{parties.button 'green'}}
    </li>
    <li>
      {{parties.button 'ind'}}
    </li>
  </ul>
  {{/ballot-parties}}

</div>

{{#if (and error (eq error.type 'MULTIPLE_LOCATIONS'))}}
<div class="ballot-form__suggestions">

  <h3 class="ballot-form__sub">{{error.message}}</h3>

  <ul class="ballot-form__suggestion-list">
  {{#each error.locations as |location|}}
    {{#action-button
      class="ballot-form__suggestion"
      click=(action coordsToBallot location.lat location.lng)}}
      {{location.address}}
    {{/action-button}}
  {{/each}}
  </ul>
</div>
{{/if}}

<button
  class="ballot-form__submit"
  type="submit"
  disabled={{not canSubmit}}
  {{action (perform addressToBallot address)}}>
  view candidates
</button>
