<div class="ballot-form__input">
  <h3 class="ballot-form__sub">Enter your address below</h3>
  {{input
    value=address
    class="ballot-form__field"
    placeholder="123 Broadway NY, NY"
    action=(action (perform addressToBallot address))}}

  {{#if (and error (not-eq error.type 'MULTIPLE_LOCATIONS'))}}
  <div class="ballot-form__error">
    {{error.message}}
  </div>
  {{/if}}
</div>

<div class="ballot-form__parties">
  <h3 class="ballot-form__sub">Choose your party:</h3>

  {{ballot-parties onClick=(action (mut party))}}
</div>

{{#if (and error (eq error.type 'MULTIPLE_LOCATIONS'))}}
<div class="ballot-form__suggestions">

  <h3 class="ballot-form__sub">{{error.message}}</h3>

  <ul class="ballot-form__suggestion-list">
  {{#each error.locations as |location|}}
  <li class="ballot-form__suggestion">
    {{#action-button
      click=(action coordsToBallot location.lat location.lng)}}
      {{location.address}}
    {{/action-button}}
  </li>
  {{/each}}
  </ul>
</div>
{{/if}}

<button
  class={{concat "ballot-form__submit" (if loading ' loading')}}
  type="submit"
  disabled={{not canSubmit}}
  {{action (perform addressToBallot address)}}>
  {{#if loading}}
    {{fa-icon "spinner" spin=true}}
  {{/if}}
  View Candidates
</button>

<div class="ballot-form__footer">
  <a href="https://www.wnyc.org/privacy" class="ballot-form__privacy" target="_blank">Privacy Policy</a>
</div>
