{{#ballot-switcher as |switcher|}}
  {{switcher.dropdown
    districts=model.districts
    selected=model.selected
    onChange=(action update model.party)
  }}

  {{#switcher.parties onClick=(action (mut model.party)) party=model.party as |parties|}}
  <ul>
    <li>
      {{parties.button 'dem'}}
    </li>
    <li>
      {{parties.button 'rep'}}
    </li>
    <li>
      {{parties.button 'green'}}
    </li>
    <li>
      {{parties.button 'ind'}}
    </li>
  </ul>
  {{/switcher.parties}}

{{/ballot-switcher}}

{{race-detail race=model.race}}
